#jan:target .jan { height: 29%;}
#jan:target .feb { height: 41%;}
#jan:target .mar { height: 15%;}
#jan:target .apr { height: 62%;}
#jan:target .may { height: 46%;}
#jan:target .jun { height: 37%;}
#jan:target .jul { height: 57%;}
#jan:target .aug { height: 21%;}
#jan:target .sep { height: 6%;}
#jan:target .oct { height: 45%;}
#jan:target .nov { height: 92%;}
#jan:target .dec { height: 78%;}

#feb:target .jan { height: 58%;}
#feb:target .feb { height: 82%;}
#feb:target .mar { height: 77%;}
#feb:target .apr { height: 89%;}
#feb:target .may { height: 10%;}
#feb:target .jun { height: 24%;}
#feb:target .jul { height: 62%;}
#feb:target .aug { height: 64%;}
#feb:target .sep { height: 52%;}
#feb:target .oct { height: 30%;}
#feb:target .nov { height: 90%;}
#feb:target .dec { height: 59%;}

#mar:target .jan { height: 33%;}
#mar:target .feb { height: 28%;}
#mar:target .mar { height: 43%;}
#mar:target .apr { height: 7%;}
#mar:target .may { height: 51%;}
#mar:target .jun { height: 6%;}
#mar:target .jul { height: 87%;}
#mar:target .aug { height: 89%;}
#mar:target .sep { height: 28%;}
#mar:target .oct { height: 71%;}
#mar:target .nov { height: 57%;}
#mar:target .dec { height: 66%;}

#apr:target .jan { height: 31%;}
#apr:target .feb { height: 32%;}
#apr:target .mar { height: 33%;}
#apr:target .apr { height: 70%;}
#apr:target .may { height: 68%;}
#apr:target .jun { height: 26%;}
#apr:target .jul { height: 46%;}
#apr:target .aug { height: 28%;}
#apr:target .sep { height: 30%;}
#apr:target .oct { height: 52%;}
#apr:target .nov { height: 81%;}
#apr:target .dec { height: 8%;}

#may:target .jan { height: 42%;}
#may:target .feb { height: 80%;}
#may:target .mar { height: 50%;}
#may:target .apr { height: 91%;}
#may:target .may { height: 18%;}
#may:target .jun { height: 40%;}
#may:target .jul { height: 43%;}
#may:target .aug { height: 44%;}
#may:target .sep { height: 23%;}
#may:target .oct { height: 76%;}
#may:target .nov { height: 17%;}
#may:target .dec { height: 46%;}

#jun:target .jan { height: 86%;}
#jun:target .feb { height: 43%;}
#jun:target .mar { height: 88%;}
#jun:target .apr { height: 20%;}
#jun:target .may { height: 9%;}
#jun:target .jun { height: 36%;}
#jun:target .jul { height: 82%;}
#jun:target .aug { height: 87%;}
#jun:target .sep { height: 84%;}
#jun:target .oct { height: 71%;}
#jun:target .nov { height: 27%;}
#jun:target .dec { height: 83%;}

#jul:target .jan { height: 63%;}
#jul:target .feb { height: 82%;}
#jul:target .mar { height: 15%;}
#jul:target .apr { height: 56%;}
#jul:target .may { height: 28%;}
#jul:target .jun { height: 89%;}
#jul:target .jul { height: 22%;}
#jul:target .aug { height: 23%;}
#jul:target .sep { height: 12%;}
#jul:target .oct { height: 16%;}
#jul:target .nov { height: 68%;}
#jul:target .dec { height: 91%;}

#aug:target .jan { height: 86%;}
#aug:target .feb { height: 51%;}
#aug:target .mar { height: 27%;}
#aug:target .apr { height: 35%;}
#aug:target .may { height: 66%;}
#aug:target .jun { height: 49%;}
#aug:target .jul { height: 92%;}
#aug:target .aug { height: 30%;}
#aug:target .sep { height: 80%;}
#aug:target .oct { height: 32%;}
#aug:target .nov { height: 39%;}
#aug:target .dec { height: 47%;}

#sep:target .jan { height: 39%;}
#sep:target .feb { height: 34%;}
#sep:target .mar { height: 80%;}
#sep:target .apr { height: 49%;}
#sep:target .may { height: 52%;}
#sep:target .jun { height: 73%;}
#sep:target .jul { height: 30%;}
#sep:target .aug { height: 53%;}
#sep:target .sep { height: 84%;}
#sep:target .oct { height: 77%;}
#sep:target .nov { height: 42%;}
#sep:target .dec { height: 39%;}

#oct:target .jan { height: 72%;}
#oct:target .feb { height: 95%;}
#oct:target .mar { height: 81%;}
#oct:target .apr { height: 82%;}
#oct:target .may { height: 65%;}
#oct:target .jun { height: 21%;}
#oct:target .jul { height: 9%;}
#oct:target .aug { height: 52%;}
#oct:target .sep { height: 82%;}
#oct:target .oct { height: 15%;}
#oct:target .nov { height: 66%;}
#oct:target .dec { height: 58%;}

#nov:target .jan { height: 59%;}
#nov:target .feb { height: 81%;}
#nov:target .mar { height: 63%;}
#nov:target .apr { height: 87%;}
#nov:target .may { height: 58%;}
#nov:target .jun { height: 5%;}
#nov:target .jul { height: 88%;}
#nov:target .aug { height: 87%;}
#nov:target .sep { height: 48%;}
#nov:target .oct { height: 7%;}
#nov:target .nov { height: 85%;}
#nov:target .dec { height: 60%;}

#dec:target .jan { height: 77%;}
#dec:target .feb { height: 76%;}
#dec:target .mar { height: 88%;}
#dec:target .apr { height: 49%;}
#dec:target .may { height: 15%;}
#dec:target .jun { height: 78%;}
#dec:target .jul { height: 62%;}
#dec:target .aug { height: 83%;}
#dec:target .sep { height: 69%;}
#dec:target .oct { height: 61%;}
#dec:target .nov { height: 18%;}
#dec:target .dec { height: 61%;}